<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th pSortableColumn="code">Code <p-sortIcon field="code" /></th>
            <th pSortableColumn="name">Nombre <p-sortIcon field="name" /></th>
            <th pSortableColumn="category">Categoria <p-sortIcon field="category" /></th>
            <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity" /></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
            <td>
                <p-button label="Detalles" severity="secondary" />
            </td>
        </tr>
    </ng-template>
</p-table>